<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//{{ netloc }}/static/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//{{ netloc }}/static/jquery-2.1.4.js"></script>
    <script src="//{{ netloc }}/static/js.cookie.js"></script>
    <script src="//{{ netloc }}/static/view.js"></script>
    <title>{{ file["fullTitle"] }}  {% if file["episode"] %}#{{ file["episode"] }} {% endif %}{{ file["subTitle"] }}</title>
  </head>
  <body>
    <div class="container-fluid" id="main-container">
      <div class="row" id="video-row">
        <div class="col-md-12 text-center">
          <div class="d-inline-block" id="video-div" style="display:inline-block;width:100%;">
            <video id="video" controls width="100%">
              <source src="{{ file["mediaURL"] }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'/>
            </video>
          </div>
        </div>
      </div>
      <div class="row" id="footer-row">
        <div class="col-md-5">
          <div class="pull-left">
            {{ file["fullTitle"] }}&nbsp;&nbsp;
            <small>{% if file["episode"] %}#{{ file["episode"] }}&nbsp;{% endif %}{{ file["subTitle"] }}</small>
          </div>
        </div>
        <div class="col-md-2">
          <a href="" onclick="view.skip(-60);return false;">-60</a> |
          <a href="" onclick="view.skip(-15);return false;">-15</a> |
          <a href="" onclick="view.skip(+15);return false;">+15</a> |
          <a href="" onclick="view.skip(+60);return false;">+60</a>
        </div>
        <div class="col-md-5">
          <div class="pull-right">
            <a href="{{ file["mediaURL"] }}">raw</a> | <a href="/">index</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
